body {
  background-color: #1b74e4;
  color: white;
}

h1 {
  text-align: center;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  font-weight: bolder;
  font-size: larger;
  text-align: cener;
}
